body {
    background-color: #555;
    color: white;
    font-family: "Ubuntu Sans Mono", monospace;
}

.side-bar {
    display: flex;
    background-color: black;
    justify-content: flex-start;

}



